prettier.printWidth = 150
prettier.tabWidth = 2
prettier.singleQuote = false
prettier.trailingComma = all
prettier.bracketSpacing = true
prettier.jsxBracketSameLine = false
prettier.semi = true
prettier.useTabs = true
prettier.tslintIntegration = true