body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  background: hsl(349, 100%, 45%);
  &.scroll--disabled {
    overflow: hidden;
  }
}

* {
  box-sizing: border-box;
}

a {
  outline: none; 
}

h1 {
  font-family: "Roboto"
}