:root {
  --colorIcon: hsl(358, 91%, 34%);
}

/* .nav {
  display: flex;
  & span {
    
    display: none;
  }
  & .svg {
    display: block;
    width: 30px;
    height: 40px;
    & .st0 {
      fill:#FFFFFF;
    }
    & .st1 {    
      fill: none;
      stroke: #FFFFFF;
      stroke-width: 2;
      stroke-miterlimit: 10;
    }
    & path {
      fill: var(--colorIcon) !important;
    }
    & .g0 {
      fill: var(--colorIcon);
    }
    & .stroke0 {
      stroke: var(--colorIcon);
    }
    & polygon {
      stroke: var(--colorIcon);
    }
  }
  & b {
    display: inline-flex;
  }
}

.basket, .snacks {
  & .svg .st1 {
    stroke: var(--colorIcon);
  }
} */

.nav {
  position: fixed;
  left: 10px;
  /* bottom: 30px; */
  top: calc(50vh - 300px);
  width: 80px;
  height: 600px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  & .nav-icon {
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: hsla(0, 0%, 100%, 1);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0px 5px 20px -3px rgba(0, 0, 0, .7);
    transition: width .4s ease, height .4s ease;
    display: inline-flex;
    &:hover {
      width: 80px;
      height: 80px;
    }
    &:hover + .nav-icon {
      width: 40px;
      height: 40px;
    }
    &.main {
      background-size: cover;
      background-color: hsl(358, 91%, 34%);
    }
    /* display: none; */
  }
  &:not(:hover) .nav-icon.selected {
    width: 70px;
    height: 70px;
  }
}

.page {
  display: grid;
  padding-left: 100px;
  padding-top: 30px;
  padding: 30px 20px 30px 100px;
  grid-template-columns: repeat(auto-fill, 23%);
  justify-content: space-between;
  grid-gap: 30px 2%;
}

.main {
  height: 100vh;
  width: 100%;
  background: var(--colorIcon);
}

.item {
  display: inline-flex;
  position: relative;
  /* width: 250px; */
  /* height: 200px; */
  flex-direction: column;
  /* margin-right: 20px; */
  /* margin-bottom: 30px; */
  /* flex-basis: 250px; */
  & .item-poster {
    width: 100%;
    /* height: 250px; */
    background: hsla(0, 0%, 100%, 1);
    border-radius: 20px;
    box-shadow: 0px 5px 20px -3px rgba(0, 0, 0, .7);
    position: relative;
    &::after {
      content: '';
      padding-bottom: 100%;
      position: relative;
      display: block;
    }
  }
  & .item-title {
    color: hsl(0, 0%, 0%);
    font-size: 15px;
    /* font-weight: bold; */
    background: hsl(0, 0%, 100%);
    border-radius: 20px;
    box-shadow: 0px 5px 20px -3px rgba(0, 0, 0, .7);
    padding: 13px 20px;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  & .item-price {
    color: hsl(0, 0%, 0%);
    font-size: 15px;
    font-weight: bold;
    background: hsl(0, 0%, 100%);
    border-radius: 20px;
    box-shadow: 0px 5px 20px -3px rgba(0, 0, 0, .7);
    padding: 13px 20px;
    display: flex;
    margin-right: 10px;
  }
  & .item-pay {
    color: hsl(0, 0%, 0%);
    font-size: 13px;
    /* font-weight: bold; */
    background: hsl(0, 0%, 100%);
    border-radius: 20px;
    box-shadow: 0px 5px 20px -3px rgba(0, 0, 0, .7);
    flex: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &.button {
      background: var(--colorIcon);
      color: hsl(0, 0%, 100%);
      cursor: pointer;
      line-height: 10px;
      user-select: none;
    }
    & .item-pay--count {
      border-radius: 15px;
      background: hsl(0, 0%, 100%);
      color: var(--colorIcon);
      padding: 3px 7px;
      font-size: 11px;
      font-weight: 600;
      margin-left: 10px;
      visibility: visible;
      transition: visibility .2s ease;
      &[data-count="0"] {
        display: none;
        visibility: hidden;
      }
    }
  }
  & .item-footer {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }
  & .item-poster--img {
    width: 100%;
    height: 100%;
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    /* background-color: aqua; */
    border-radius: 15px 15px 0 0;
    /* animation-duration: 5s;
    animation-name: posterAnim;
    animation-iteration-count: infinite;
    transition: all 4s ease;
    transform-style: preserve-3d;
    transform-origin: center; */
  }
}

@keyframes posterAnim {
  0% {
    transform: perspective(8) rotateY(-0.0003rad)
  }

  25% {
    transform: perspective(10) rotateY(0rad)
  }

  50% {
    transform: perspective(12) rotateY(0.0003rad)
  }

  75% {
    transform: perspective(10) rotateY(0rad)
  }

  100% {
    transform: perspective(8) rotateY(-0.0003rad)
  }
}