.body--promo {
    background-image: url("../img/bg.jpg");
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    & .promo-text {
        background: hsla(0, 0%, 0%, 1);
        padding: 20px 20px 5px 18px;
        & .promo-text--main {
            font-size: 100px;
            font-weight: bold;     
            background-image: url("../img/bg.jpg");
            background-clip: text;
            color: transparent;
            line-height: 80px;
        }
        & .promo-text--other {
            font-weight: bold;     
            background-image: url("../img/bg.jpg");
            background-clip: text;
            color: transparent;
            font-size: 30px;
            line-height: 40px;
            padding-left: 8px;
            /* & .promo-text--one {
                font-weight: bold;     
                background-image: url("../img/bg.jpg");
                background-clip: text;
                color: transparent;
                font-size: 50px;
                line-height: 60px;
            } */
        }
    }    
}